// ------------------------------------------------------------------
// Shower List
// ------------------------------------------------------------------

&--list {

	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	background:desaturate(lighten($color, 30%), 60%);

	@import 'caption--list';
	@import 'badge--list';
	@import 'section--list';

	// For IE10-11 only

	position:absolute;
	clip:rect(0, auto, auto, 0);

	}
